/*@import "compass/css3";*/

.flex-container {
  padding: 0px 200px 0px 200px;
  margin: 0;
  list-style: none;

  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  font-family: sans-serif;
  padding: 10px;
  margin: 7px;
  width: 50px;
  height: 45px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2.5em;
  text-align: center;
  box-shadow: 2px 4px 4px #888888;
}
